INFLUXDB_ADMIN_TOKEN=TA_SENSOR_DATA_TOKEN_CHANGE_ME
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=CHANGE_ME
INFLUX_ORG=ta_org
INFLUX_BUCKET=sensor_data
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=#
MQTT_TRANSPORT=tcp
INFLUX_URL=http://influxdb:8086
BRIDGE_LOG_LEVEL=INFO
INFLUX_STARTUP_RETRIES=30
INFLUX_STARTUP_DELAY_SEC=2
CLOUDFLARE_TUNNEL_TOKEN=CHANGE_ME
